.profile {
  width: 30%;
  float: left;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-style: dashed;
  background-color: lightblue;
  box-shadow: 5px 10px 20px;
}

.profile img {
  width: 90%;
}

.profile p {
  font: 20px arial;
}

.profile h2 {
  font: 40px arial;
}

.title h2 {
  color: blue;
  text-align: center;
}

.title p {
  text-align: center;

}

.title {
  border: medium solid green;
  border-radius: 30px;
  margin: 10px;
  background-color: grey;
  box-shadow: 30px 30px 20px;
}

body{
  background-color: yellow;
}
